<div style="padding: 50px 200px">
<h1>Departure Details</h1>
<p>{{event.title}}</p>
<p>{{event.start}}</p>
<p>{{event.details}}</p>
<p>{{user}}</p>
<a href="/message" class="btn btn-success">Send message to {{user.username}}</a>
</div>